<?xml version="1.0"?>
<launch>

<group ns="robot4">
    <include file="$(find dslam_sp)/launch/includes/single.launch.xml">
    <arg name="robotid" value="4"/>
    <arg name="framestart" value="1"/>
    <arg name="frameend" value="1700" />
    </include>
</group>

<group ns="robot3">
    <include file="$(find dslam_sp)/launch/includes/single.launch.xml">
    <arg name="robotid" value="3"/>
    <arg name="framestart" value="1200"/>
    <arg name="frameend" value="2874" />
    </include>
</group>

</launch>
